{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<h1>Archive</h1>
<form class="form-inline" method="post">
                 <label >Filter Dept.</label>
                 <select name="viewwhat" class="form-control">
                     <option value="all">all</option>
                        {% for department in departments %}
                        <option value="{{ department['dept'] }}">{{ department['dept'] }}</option>
                        {% endfor %}

                    </select>

     

          <select name="semester" class="form-control">
              <option value="{{ session.get('semester', 'all') }}" selected="selected">Selected: {{ session.get('semester', 'all') }}</option>
              <option value="all">all</option>
              <option value="first">first</option>
              <option value="second">second</option>
              <option value="third">third</option>
              <option value="fourth">fourth</option>
              <option value="fifth">fifth</option>
              <option value="sixth">sixth</option>
              <option value="seventh">seventh</option>
              <option value="eighth">eighth</option>
          </select>
      <button type="submit" class="btn btn-success">Filter</button>

                </form>

                <h5>Showing: {{ session.get('viewwhat', 'all') }} department(s) Semester: {{ session.get('semester', 'all') }} </h5>
                <div class="table-responsive">
                  <table class="table table-bordered table-striped">
                            <tr>
                                <th>Archive ID</th>
                                <th>Title</th>
                                <th>Department</th>
                                <th>Subject</th>
                                <th>Archive Type</th>
                                <th>Semester</th>
                                <th>Teacher's Name</th>
                                <th>Link</th>
                                <th>Timestamp</th>
                                <th>Action</th>

                            </tr>

                            {% for archive in archives %}
                           <tr>
                               <td>{{ loop.index }}</td>
                               <td>{{ archive['title'] }}</td>
                               <td>{{ archive['department'] }}</td>
                               <td>{{ archive['subject'] }}</td>
                               <td>{{ archive['archivetype'] }}</td>
                               <td>{{ archive['semester'] }}</td>
                               <td>{{ archive['teachersname'] }}</td>
                               <td>{{ archive['link'] }}</td>
                               <td>{{ archive['time'] }}</td>
                             <td>
                                 <a href="{{ url_for('editarchive', time=archive['time']) }} " class="btn btn-info" role="button">Edit</a>
                                 <a href="{{ url_for('deletearchive', time=archive['time']) }} " class="btn btn-danger" role="button">Delete</a>
                             </td>
                           </tr>

                        {% endfor %}
                    </table>
                  
                </div>

              
{% endblock %}